<mat-card class="example-card">
  <img mat-card-xl-image src="/assets/images/swan-black-on-white.svg"/>
  <mat-card-title-group>
    <mat-card-title>SwanPipe</mat-card-title>
    <mat-card-subtitle>Log In</mat-card-subtitle>
  </mat-card-title-group>
  <mat-card-content>
    <form #loginForm="ngForm" (ngSubmit)="login()" class="example-container">

      <mat-form-field>
        <input matInput placeholder="Username"
               required name="username"
               [(ngModel)]="username">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Enter your password"
               [type]="hide ? 'password' : 'text'"
               required name="password"
               [(ngModel)]="password" >
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </mat-form-field>

      <button mat-raised-button type="reset">Cancel</button>
      <button mat-raised-button type="submit" color="accent"
              [disabled]="!loginForm.form.valid">Submit</button>

    </form>
    <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
  </mat-card-content>
</mat-card>
